<% content_for :title, t("welcome.heading") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "govuk_publishing_components/components/heading", {
      text: yield(:title),
      heading_level: 1,
      font_size: "l",
      margin_bottom: 4,
    } %>

    <p class="govuk-body"><a href="<%=new_user_session_path %>" class="govuk-link">Sign in</a></p>
    <p class="govuk-body"><a href="<%= new_user_registration_start_path %>" class="govuk-link">Register</a></p>
  </div>
</div>
